#reservation-section {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
   
  }

  .reservation-form {
    flex: 1; 
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(52, 52, 52, 0.466);
    margin: 20px;
    color: white;
    border-radius: 10px;
  }

 .creative-content{
  flex: 1; 
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(52, 52, 52, 0.466);
  margin: 18px;
  color: white;
  border-radius: 10px;
 }

 .creative-content img{
  width: 400px;
 }

 .creative-content {
    text-align: center;
 }

 .creative-content h3 {
    font-size: 1.6em;
    margin-bottom: 20px;
 }

 .creative-content p {
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.6;
 }

 .creative-content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
   
 }

  /* Style for the container */
  .guidelines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  /* Style for h3 and h4 */
  .guidelines h2 {
     margin: 0; /* Remove default margin */
     font-size: 22px;
     padding-bottom: 25px;
     text-decoration: underline;
  }
  
  /* Style for h3 and h4 */
  .guidelines h3 {
     margin: 0; /* Remove default margin */
     font-size: 18px;
     padding-bottom: 10px;
     color: #319e4c;
  }
  
   /* Style for h3 and h4 */
   .guidelines h4 {
     margin: 0; /* Remove default margin */
     font-size: 16px;
     padding-bottom: 10px;
     font-weight: normal;
  }

    /* Style for h3 and h4 */
    .guidelines p {
    color: lightcoral;
     margin: 0; /* Remove default margin */
     font-size: 16px;
     padding-bottom: 15px;
     padding-top: 10px;
     font-weight: bold;
  }

 .form-field {
    margin-bottom: 20px;
    margin-right: 15px;
 }

 label {
  display: block;
  margin-bottom: 5px;
 }

 .btn-container {
    text-align: center;
 }

 .reserve-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
 }

 .reservation-form h2{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  text-decoration: underline;
 }

 .reserve-btn:hover {
    background-color: #555;
 }

 input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], input[type="number"] {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #989696;
  border-radius: 5px;
  color: white;
 }

 #onlinelabel{
  color: #32ad47;
  cursor: pointer;
 }